.history-container {
  background-color: #004f8f;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  height: 40rem;
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Bebas Neue", cursive;
}

.history-container .overflow-x-auto {
  width: 100%;
  overflow-x: auto;
}

.history-container table {
  width: 100%;
  border-collapse: collapse;
}

.history-container th,
.history-container td {
  padding: 10px;
  border-bottom: 1px solid white;
  text-align: left;
}

.history-container th {
  font-size: 1.2rem;
}

.history-container td {
  font-size: 1.5rem;
}

.history-container tr:last-child td {
  border-bottom: none;
}

.history-container table th,
.history-container table td {
  white-space: nowrap;
}

.history-container table thead {
  display: table-header-group;
}
