@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-color: silver;
  margin-bottom: 30px;
  color: #004f8f;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.statistics-container,
.expense-container,
.transfer-container,
.friends-container,
.history-container {
  background-color: #004f8f;
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  height: 40rem;
  border-radius: 0.75rem;
  font-weight: bold;
  align-items: center;
  font-size: 20px;
}

.form-container {
  padding: 40px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.tabs button {
  font-size: 1.5rem;
  font-weight: bold;
}

.stats-table {
  justify-content: center;
  padding: 0 50px 10px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

th {
  font-weight: bold;
  text-align: left;
}

td {
  font-size: 1.5rem;
  text-align: left;
}

.history-container table th,
.history-container table td {
  white-space: nowrap;
}

.history-container table thead {
  display: table-header-group;
}

.history-container tr:last-child td {
  border-bottom: none;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}
