@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;

@layer base {
  html {
    font-family: "Roboto", "sans-serif";
  }
}

:root {
  @apply bg-moneybg bg-contain;
}

@tailwind components;
@tailwind utilities;

.tabs-container {
  @apply max-w-xl mx-auto text-darksec font-bold;
}

.form-container,
.statistics {
  @apply bg-lightsec h-fit rounded-b-xl pb-10 p-5 mx-auto;
}

.form-container {
  @apply flex flex-col items-center justify-center  pb-0;
}

.tabless-container {
  @apply max-w-xl h-fit bg-lightsec text-darksec font-bold rounded-xl mx-auto py-4 px-10 pb-10;
}

.tabs {
  @apply flex flex-row justify-between bg-transparent;
}

.summary-tab-btn {
  @apply w-48 rounded-t-lg text-2xl py-1 font-bold;
}

.create-tab-btn {
  @apply w-72 rounded-t-lg text-2xl py-1 font-bold;
}

.submit-btn {
  @apply bg-darkpri text-lightpri font-bold px-4 ml-3  my-5 p-2 rounded;
}

.submit-btn:disabled {
  @apply bg-lightpri text-lightsec;
}

.stats-table {
  @apply px-10;
}

table {
  @apply container text-left border-collapse;
}

.stats-table th {
  @apply text-lg text-left py-3;
  border-bottom: 1px solid #dbdfea;
}

.stats-table td {
  @apply text-lg text-right py-3;
  border-bottom: 1px solid #dbdfea;
}

.history-table {
  @apply p-3  text-lg text-center overflow-x-auto;
}

.history-table th {
  @apply bg-lightpri text-darksec text-center p-2;
}

.history-table td {
  @apply text-darkpri text-base text-center py-3;
  border-bottom: 1px solid #dbdfea;
}

h2 {
  @apply text-darkpri text-2xl text-center font-extrabold mb-5;
}

input,
select,
option {
  @apply text-darksec text-opacity-50 font-normal;
}
